@model proj.Models.RecipeModel

@{
    ViewData["Title"] = "Create Recipe";
}

<h1>Create Recipe</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group input-cell">
                <input type="checkbox" asp-for="IsContest" id="IsContestCheckbox" onclick="checkContest()" />
                <label asp-for="IsContest" class="control-label">Submit for this month's contest</label>
            </div>

            <div class="form-group input-cell">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group input-cell">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" type="file" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>

            <div class="form-group input-cell">
                <label asp-for="Video" class="control-label"></label>
                <input asp-for="Video" class="form-control" />
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>

            <div class="form-group input-cell">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group input-cell">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>

            <div class="form-group input-cell">
                <label asp-for="Difficulty" class="control-label"></label>
                <input asp-for="Difficulty" class="form-control" type="number" min="1" max="5" />
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Add" class="news-readmore" />
            </div>
        </form>
    </div>
</div>


@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}