@model proj.Models.ContestModel

<h2>Add Contest</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Month"></label>
        <input asp-for="Month" class="form-control" />
        <span asp-validation-for="Month" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Theme"></label>
        <input asp-for="Theme" class="form-control" />
        <span asp-validation-for="Theme" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Photo" class="control-label"></label>
        <input asp-for="Photo" type="file" class="form-control" />
        <span asp-validation-for="Photo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="addbtn" />
    </div>
</form>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}