html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('~/imag/wallpaperv1.jpg'); /* Path to your image */
    background-size: cover; /* Make sure the image covers the entire page */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-attachment: fixed; /* Make the wallpaper fixed when scrolling */
}

