@using proj.Models
@inject SignInManager<UserCustom> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>

    <li class="nav-item">
        <a class="nav-link" id="add-recipe" asp-controller="Recipe" asp-action="Create">Add Recipe</a>
    </li>
</ul>
